.button2-container {
  display: flex;
  position: relative;
}
.button2-button {
  width: 265px;
  height: 57px;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px;
  justify-content: flex-start;
  background-color: #000000;
}
.button2-text {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: center;
  text-align: center;
  line-height: 27.5px;
}

@media(max-width: 991px) {
  .button2-container {
    width: 100%;
    height: 100%;
    justify-content: center;
  }
  .button2-root-class-name {
    align-self: center;
  }
}
@media(max-width: 767px) {
  .button2-container {
    align-items: center;
    justify-content: center;
  }
}

.services-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
}
.services-main-container {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: column;
}
.services-header {
  flex: 0 0 auto;
  width: 100%;
  height: 100px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0);
}
.services-navbar-interactive {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.services-navlink {
  display: contents;
}
.services-logo {
  height: var(--dl-size-size-medium);
  text-decoration: none;
}
.services-desktop-menu {
  display: flex;
}
.services-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.services-navlink1 {
  text-decoration: none;
}
.services-navlink2 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-text {
  margin-left: var(--dl-space-space-twounits);
}
.services-text01 {
  margin-left: var(--dl-space-space-twounits);
}
.services-navlink3 {
  margin-left: var(--dl-space-space-twounits);
  text-decoration: none;
}
.services-burger-menu {
  display: none;
  align-items: center;
  justify-content: center;
}
.services-icon {
  width: 16px;
  height: 16px;
}
.services-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  padding: 32px;
  z-index: 100;
  position: fixed;
  transform: translateX(-100%);
  transition: 0.5s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.services-nav1 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-container01 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.services-image {
  width: 88px;
  height: 90px;
}
.services-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-icon2 {
  width: 24px;
  height: 27px;
}
.services-nav2 {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.services-text02 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-text03 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-text04 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-text05 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-text06 {
  margin-bottom: var(--dl-space-space-unit);
}
.services-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 400px;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-text07 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 70px;
  margin-right: 0;
  margin-bottom: 9px;
}
.services-text08 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: auto;
  text-align: center;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 9px;
}
.services-container-sommaire {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.services-text09 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 36.5px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.services-link {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 36.5px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.services-link1 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 36.5px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.services-link2 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 36.5px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.services-link3 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 36.5px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.services-link4 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Outfit;
  font-weight: 600;
  line-height: 36.5px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: underline;
}
.services-section1 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.services-container02 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-rectangle25 {
  flex: initial;
  width: 100%;
  height: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-container03 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-column-l {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.services-text12 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 67px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-rectangle2501 {
  flex: initial;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-text13 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28.5px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-actions {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.services-section2 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.services-container04 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-column-l1 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.services-text14 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 67px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-rectangle2502 {
  flex: initial;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-text15 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28.5px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-actions1 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.services-container05 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-rectangle2503 {
  flex: initial;
  width: 100%;
  height: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-section3 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.services-container06 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-rectangle2504 {
  flex: initial;
  width: 100%;
  height: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-container07 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-column-l2 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.services-text17 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 67px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-rectangle2505 {
  flex: initial;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-text18 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28.5px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-actions2 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.services-section4 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.services-container08 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-column-l3 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.services-text20 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 67px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-rectangle2506 {
  flex: initial;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-text21 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28.5px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-actions3 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.services-container09 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-rectangle2507 {
  flex: initial;
  width: 100%;
  height: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-section5 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.services-container10 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-rectangle2508 {
  flex: initial;
  width: 100%;
  height: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-container11 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-column-l4 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.services-text23 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 67px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-rectangle2509 {
  flex: initial;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-text24 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28.5px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-actions4 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.services-section6 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  padding-left: var(--dl-space-space-halfunit);
  margin-bottom: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-halfunit);
  flex-direction: row;
  justify-content: center;
}
.services-container12 {
  flex: 1;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-column-l5 {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 10px;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.services-text26 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 67px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.services-rectangle2510 {
  flex: initial;
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-text29 {
  color: rgba(255, 255, 255, 1);
  width: 100%;
  height: auto;
  align-self: stretch;
  text-align: left;
  line-height: 28.5px;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.services-actions5 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  flex-direction: column;
}
.services-container13 {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-rectangle2511 {
  flex: initial;
  width: 100%;
  height: auto;
  position: relative;
  align-self: center;
  border-color: transparent;
  border-radius: 24px;
}
.services-container14 {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-actions6 {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: column;
}
.services-text31 {
  color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-weight: 700;
  padding-left: 200px;
  padding-right: 200px;
}
.services-section21 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.services-pre-footer {
  width: 100%;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.25) ;
  align-items: center;
  padding-top: 0px;
  border-color: transparent;
  padding-left: 0px;
  border-radius: 33px;
  padding-right: 0px;
  flex-direction: column;
  padding-bottom: 0px;
  justify-content: center;
  background-image: linear-gradient(-66deg, rgba(171, 217, 218, 0.7099999785423279) 0%, rgba(94, 94, 174, 1) 100%);
}
.services-text32 {
  color: #000000;
  width: 100%;
  height: auto;
  font-size: 21px;
  align-self: auto;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: Outfit;
  line-height: 27.5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-unit);
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
.services-text33 {
  color: rgb(255, 246, 246);
  width: 100%;
  height: auto;
  font-size: 54px;
  align-self: auto;
  font-style: normal;
  text-align: center;
  font-family: Outfit;
  font-weight: 700px;
  line-height: 67px;
  font-stretch: normal;
  margin-right: 0;
  padding-left: 250px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  padding-right: 250px;
  text-transform: capitalize;
}
.services-actions7 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  justify-content: center;
}
.services-button {
  width: 193px;
  display: flex;
  padding: 12px 24px;
  position: relative;
  box-shadow: 4px 4px 30px 0px rgba(0, 0, 0, 0.30000001192092896) ;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 30px 30px 30px 30px;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.services-text34 {
  color: rgb(250, 246, 246);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 27.5px;
  margin-right: 0;
  margin-bottom: 0;
}
.services-section61 {
  gap: var(--dl-space-space-twounits);
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #ffffff;
}
.services-container15 {
  flex: 1;
  width: 100px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-700);
}
.services-container16 {
  flex: 1;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-100);
}
.services-container17 {
  flex: 1;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-300);
}
.services-container18 {
  flex: 1;
  width: 200px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-primary-500);
}
.services-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  max-width: 1200px;
  align-items: flex-start;
  flex-direction: column;
}
.services-footer1 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
}
.services-container19 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.services-image1 {
  height: auto;
}
.services-nav3 {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.services-navlink4 {
  margin-left: 0px;
  text-decoration: none;
}
.services-navlink5 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-text37 {
  margin-left: var(--dl-space-space-unit);
}
.services-text38 {
  margin-left: var(--dl-space-space-unit);
}
.services-navlink6 {
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.services-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.services-text39 {
  color: #000000;
  height: auto;
  flex-grow: 1;
  font-size: 14px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Inter;
  font-weight: 400;
  line-height: 150%;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 991px) {
  .services-actions6 {
    align-self: center;
    align-items: flex-start;
    flex-direction: row;
    justify-content: flex-start;
  }
  .services-text33 {
    color: rgb(255, 246, 246);
    font-size: 54px;
    font-style: normal;
    font-family: Outfit;
    line-height: 67px;
    padding-left: 220px;
    padding-right: 220px;
    text-transform: capitalize;
  }
  .services-image1 {
    width: auto;
    height: auto;
    margin-bottom: 0px;
  }
  .services-text39 {
    color: #000000;
    font-size: 14px;
    font-family: Inter;
    font-weight: 400;
    line-height: 150%;
    text-decoration: none;
  }
}
@media(max-width: 767px) {
  .services-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-logo {
    width: 100px;
    height: 100px;
  }
  .services-desktop-menu {
    display: none;
  }
  .services-navlink2 {
    margin-left: var(--dl-space-space-unit);
  }
  .services-text {
    margin-left: var(--dl-space-space-unit);
  }
  .services-text01 {
    margin-left: var(--dl-space-space-unit);
  }
  .services-navlink3 {
    margin-left: var(--dl-space-space-unit);
  }
  .services-burger-menu {
    display: flex;
  }
  .services-icon {
    width: 39px;
    height: 32px;
  }
  .services-mobile-menu {
    height: 362px;
    align-self: center;
  }
  .services-section1 {
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-container02 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-rectangle25 {
    height: 100%;
    display: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-container03 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .services-text12 {
    height: 100%;
    text-align: center;
  }
  .services-rectangle2501 {
    height: 100%;
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-text13 {
    align-self: center;
    text-align: center;
  }
  .services-section2 {
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-container04 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .services-text14 {
    height: 100%;
    text-align: center;
  }
  .services-rectangle2502 {
    height: 100%;
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-text15 {
    align-self: center;
    text-align: center;
  }
  .services-container05 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-rectangle2503 {
    height: 100%;
    display: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-section3 {
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-container06 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-rectangle2504 {
    height: 100%;
    display: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-container07 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .services-text17 {
    height: 100%;
    text-align: center;
  }
  .services-rectangle2505 {
    height: 100%;
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-text18 {
    align-self: center;
    text-align: center;
  }
  .services-section4 {
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-container08 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .services-text20 {
    height: 100%;
    text-align: center;
  }
  .services-rectangle2506 {
    height: 100%;
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-text21 {
    align-self: center;
    text-align: center;
  }
  .services-container09 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-rectangle2507 {
    height: 100%;
    display: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-section5 {
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-container10 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-rectangle2508 {
    height: 100%;
    display: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-container11 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .services-text23 {
    height: 100%;
    text-align: center;
  }
  .services-rectangle2509 {
    height: 100%;
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-text24 {
    align-self: center;
    text-align: center;
  }
  .services-section6 {
    height: 100%;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
  }
  .services-container12 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
  }
  .services-text26 {
    height: 100%;
    text-align: center;
  }
  .services-rectangle2510 {
    height: 100%;
    display: flex;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .services-text29 {
    align-self: center;
    text-align: center;
  }
  .services-container13 {
    flex: 0 0 auto;
    width: 100%;
    height: 100%;
    position: relative;
    align-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .services-rectangle2511 {
    height: 100%;
    display: none;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-text33 {
    font-size: 42px;
    line-height: 50px;
    padding-left: 140px;
    padding-right: 140px;
  }
  .services-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-image1 {
    margin-bottom: 0px;
  }
  .services-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 490px) {
  .services-logo {
    border-radius: 15px 15px 15px 15px;
  }
  .services-icon2 {
    width: 24px;
    height: 27px;
  }
  .services-link3 {
    background: none;
  }
  .services-section2 {
    margin-bottom: 0px;
  }
  .services-section4 {
    margin-bottom: 0px;
  }
  .services-text31 {
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .services-text33 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .services-section61 {
    background-color: transparent;
  }
  .services-nav3 {
    flex-direction: column;
  }
  .services-navlink4 {
    line-height: 2;
  }
  .services-navlink5 {
    line-height: 2;
  }
  .services-text37 {
    line-height: 2;
  }
  .services-text38 {
    line-height: 2;
  }
  .services-navlink6 {
    line-height: 2;
  }
}
@media(max-width: 479px) {
  .services-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .services-mobile-menu {
    padding: 16px;
  }
  .services-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .services-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
