.boutondevis-boutondevis {
  width: 175.28759765625px;
  height: 65px;
  display: flex;
  padding: 19px 54px;
  position: relative;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 105px;
  padding-bottom: 19px 54px;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 1);
}
.boutondevis-text {
  color: rgba(250, 246, 246, 1);
  height: auto;
  align-self: auto;
  text-align: center;
  line-height: 27.5px;
  margin-right: 0;
  margin-bottom: 0;
}
