.button1-container {
  display: flex;
  position: relative;
}
.button1-button {
  display: flex;
  padding: 12px 24px;
  position: relative;
  flex-grow: 1;
  margin-top: var(--dl-space-space-twounits);
  align-items: center;
  border-color: transparent;
  justify-content: center;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 1);
}
.button1-text {
  color: rgba(250, 246, 246, 1);
  height: auto;
  align-self: auto;
  text-align: left;
  line-height: 27.5px;
  margin-right: 0;
  margin-bottom: 0;
}
