<div>
  <link href="./component5.css" rel="stylesheet" />
  <div class="component5-container">
    <div data-thq="thq-dropdown" class="component5-thq-dropdown list-item">
      <div
        data-thq="thq-dropdown-toggle"
        class="component5-dropdown-toggle list list-item"
      >
        <span class="component5-text"><span>Menu Item</span></span>
        <div data-thq="thq-dropdown-arrow" class="component5-dropdown-arrow">
          <svg viewBox="0 0 1024 1024" class="component5-icon">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="component5-dropdown-list">
        <li data-thq="thq-dropdown" class="component5-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="component5-dropdown-toggle1"
          >
            <span class="component5-text1">
              <span class="component5-text2">HAMDI</span>
              <br />
            </span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="component5-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="component5-dropdown-toggle2"
          >
            <span class="component5-text4">
              <span>Sub-menuKEKAZEAZItem</span>
            </span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="component5-dropdown2 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="component5-dropdown-toggle3"
          >
            <span class="component5-text5">
              <span>Sub-EAZLKEAZE Item</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
