<div>
  <link href="./component6.css" rel="stylesheet" />
  <div class="component6-container">
    <div
      data-thq="thq-dropdown"
      class="component6-thq-dropdown button list-item"
    >
      <div
        data-thq="thq-dropdown-toggle"
        class="component6-dropdown-toggle list-item"
      >
        <span class="component6-text list-item"><span>Menu Item</span></span>
        <div data-thq="thq-dropdown-arrow" class="component6-dropdown-arrow">
          <svg viewBox="0 0 1024 1024" class="component6-icon list-item">
            <path d="M426 726v-428l214 214z"></path>
          </svg>
        </div>
      </div>
      <ul data-thq="thq-dropdown-list" class="component6-dropdown-list">
        <li data-thq="thq-dropdown" class="component6-dropdown list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="component6-dropdown-toggle1"
          >
            <span class="component6-text1">
              <span class="component6-text2">HAMDI</span>
              <br />
            </span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="component6-dropdown1 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="component6-dropdown-toggle2"
          >
            <span class="component6-text4">
              <span>Sub-menuKEKAZEAZItem</span>
            </span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="component6-dropdown2 list-item">
          <div
            data-thq="thq-dropdown-toggle"
            class="component6-dropdown-toggle3"
          >
            <span class="component6-text5">
              <span>Sub-EAZLKEAZE Item</span>
            </span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
