<div>
  <link href="./component7.css" rel="stylesheet" />
  <div class="component7-container">
    <div class="component7-feature-card">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
        class="component7-image"
      />
      <h2 class="component7-text"><span>SUPPORT</span></h2>
      <span class="component7-text1">
        <span>
          Un support informatique taillé sur mesure pour répondre aux besoins de
          votre entreprise.
        </span>
      </span>
    </div>
    <div class="component7-feature-card1">
      <img
        alt="image"
        src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
        class="component7-image1"
      />
      <h2 class="component7-text2"><span>SERVICE MANAGÉ</span></h2>
      <span class="component7-text3">
        <span>
          Externaliser la gestion entière de votre parc informatique,
          focalisez-vous entièrement sur votre activité.
        </span>
      </span>
    </div>
    <div class="component7-feature-card2">
      <img
        alt="image"
        src="/playground_assets/dsitempspartage100x100png1096-z39-200w.png"
        class="component7-image2"
      />
      <h2 class="component7-text4"><span>DSI À TEMPS PARTAGÉ</span></h2>
      <span class="component7-text5">
        <span>
          Une direction des systèmes d'information sur mesure, pilotant la
          stratégie informatique en accord avec la vision de votre entreprise.
        </span>
      </span>
    </div>
  </div>
</div>
