.component3-container {
  display: flex;
  position: relative;
}
.component3-image {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
  border-radius: 50%;
}
@media(max-width: 490px) {
  .component3-image {
    width: 181px;
    height: 42px;
    border-radius: 0%;
  }
}
