<div>
  <link href="./component1.css" rel="stylesheet" />
  <div class="component1-container">
    <span class="component1-text">
      <span>
        <span>Home</span>
        <br />
        <span></span>
      </span>
    </span>
    <span class="component1-text05"><span>Services</span></span>
    <span class="component1-text07"><span>Solutions</span></span>
    <span class="component1-text09"><span>Etude de cas</span></span>
    <span class="component1-text11"><span>Contact</span></span>
  </div>
</div>
