<div>
  <link href="./frame2.css" rel="stylesheet" />
  <div class="frame2-frame2">
    <img
      alt="Rectangle221137"
      src="/playground_assets/rectangle221137-pj4-1500h.png"
      class="frame2-rectangle22"
    />
    <span class="frame2-text H3"><span>Service managé</span></span>
    <span class="frame2-text2">
      Une direction des systèmes d&apos;information sur mesure, pilotant la
      stratégie informatique en accord avec la vision de votre entreprise.
    </span>
    <img
      alt="emojiservicemanage100x100png1137"
      src="/playground_assets/emojiservicemanage100x100png1137-tesf-200h.png"
      class="frame2-emojiservicemanage100x100png"
    />
  </div>
</div>
