<div>
  <link href="./frame1.css" rel="stylesheet" />
  <div class="frame1-frame1">
    <img
      alt="Rectangle221136"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/217b9cfe-313f-4ee5-9ef0-97231228974f/bb08a509-5d19-49c3-9c82-d984b166ef70?org_if_sml=12579"
      class="frame1-rectangle22"
    />
    <span class="frame1-text H3"><span>Support</span></span>
    <span class="frame1-text2">
      <span>
        Un support informatique taillé sur mesure pour répondre aux besoins de
        votre entreprise.
      </span>
    </span>
    <img
      alt="supportemoji100x100png1136"
      src="https://aheioqhobo.cloudimg.io/v7/_playground-bucket-v2.teleporthq.io_/217b9cfe-313f-4ee5-9ef0-97231228974f/66aa6a97-8ee3-428a-b7f1-ee58bc78614f?org_if_sml=111134"
      class="frame1-supportemoji100x100png"
    />
  </div>
</div>
