<div>
  <link href="./frame3.css" rel="stylesheet" />
  <div class="frame3-frame3">
    <img
      alt="Rectangle221137"
      src="/playground_assets/rectangle221137-pnw-1500h.png"
      class="frame3-rectangle22"
    />
    <span class="frame3-text H3"><span>DSI à temps partagé</span></span>
    <img
      alt="dsitempspartage100x100png1137"
      src="/playground_assets/dsitempspartage100x100png1137-oazf-200h.png"
      class="frame3-dsitempspartage100x100png"
    />
    <span class="frame3-text2">
      <span>
        Une direction des systèmes d&apos;information sur mesure, pilotant la
        stratégie informatique en accord avec la vision de votre entreprise.
      </span>
    </span>
  </div>
</div>
