.frame2-frame2 {
  width: 100%;
  height: 421.75079345703125px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
}
.frame2-rectangle22 {
  top: 58.458984375px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 354px;
  margin: auto;
  position: absolute;
  border-color: transparent;
  border-radius: 33px;
}
.frame2-text {
  top: 138px;
  left: 0px;
  color: rgba(255, 255, 255, 1);
  right: 0px;
  width: 100%;
  height: auto;
  margin: auto;
  position: absolute;
  align-self: auto;
  text-align: center;
  line-height: 27.5px;
}
.frame2-text2 {
  top: 203.4688262939453px;
  left: 0px;
  color: rgb(255, 255, 255);
  right: 0px;
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  padding-left: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-fourunits);
  text-decoration: none;
}
.frame2-emojiservicemanage100x100png {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  border-color: transparent;
}
.frame2-root-class-name {
  flex: 1;
}
@media(max-width: 991px) {
  .frame2-rectangle22 {
    height: 100%;
  }
}
@media(max-width: 767px) {
  .frame2-frame2 {
    height: 100%;
  }
}
