<div>
  <link href="./header.css" rel="stylesheet" />
  <header data-role="Header" class="header-header">
    <img
      alt="logo"
      src="/playground_assets/screenshot%202023-02-27%20at%2016.57.44-1500h.png"
      class="header-image"
    />
    <div data-thq="thq-dropdown" class="header-thq-dropdown list-item">
      <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle">
        <span class="header-text"><span>Menu</span></span>
      </div>
      <ul data-thq="thq-dropdown-list" class="header-dropdown-list list">
        <li data-thq="thq-dropdown" class="header-dropdown list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle1">
            <span class="header-text1"><span>Services</span></span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown1 list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle2">
            <span class="header-text2"><span>Solutions</span></span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown2 list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle3">
            <span class="header-text3"><span>Etude de cas</span></span>
          </div>
        </li>
        <li data-thq="thq-dropdown" class="header-dropdown3 list-item">
          <div data-thq="thq-dropdown-toggle" class="header-dropdown-toggle4">
            <span class="header-text4"><span>Contact   </span></span>
          </div>
        </li>
      </ul>
    </div>
  </header>
</div>
