<div>
  <link href="./menu1.css" rel="stylesheet" />
  <div class="menu1-menu">
    <div class="menu1-menubuttom">
      <span class="menu1-text"><span>HomePage</span></span>
    </div>
    <div class="menu1-menubuttom1">
      <span class="menu1-text02"><span>Page 1</span></span>
    </div>
    <div class="menu1-menubuttom2">
      <span class="menu1-text04"><span>Page 2</span></span>
    </div>
    <div class="menu1-menubuttom3">
      <span class="menu1-text06"><span>Page 3</span></span>
    </div>
    <div class="menu1-menubuttom4">
      <span class="menu1-text08"><span>Page 4</span></span>
    </div>
    <div class="menu1-menubuttom5">
      <span class="menu1-text10"><span>Page 5</span></span>
    </div>
  </div>
</div>
