.rectangle251-container {
  display: flex;
  position: relative;
}
.rectangle251-rectangle25 {
  width: 557px;
  height: 446px;
  position: relative;
  border-color: transparent;
  border-radius: 24px;
}
.rectangle251-root-class-name {
  top: 0px;
  left: 536px;
  position: absolute;
}
